.btn-blue {
	background-color: #FAF1E6;
	padding: 20px 20px;
	border-radius: 20px;
	color: #A0937D;
	font-weight: bolder;
	font-family: 'Fredoka',sans-serif;
	text-decoration: none;
	text-align: center;
}